<div class="content">
    <header>
      <div id="close" class="option" (click)="closeWindow()">
          <i class="fa fa-close" style="font-size:15px;color:white"></i>
      </div>
      <div (click)="minimizeWindow()" id="minimize" class="option">
          <i class="fa fa-window-minimize" style="font-size:10px;color:white"></i>
      </div>
    </header>
    <img src='assets/unknown_song.jpg'>
    <div>
      <h1 style="color:#ff4242">Media Player</h1>
      <p style="color:#ff4242">Fixing up containers</p>
    </div>
</div>


